body{
  background-color: #000000;
  user-select: none;
  
  overflow-x: scroll;
  overflow-y: hidden;

  font-family: monospace;
}
.background{
  width: 150%;
  height: 200%;
  background: url("./stars.jpg");
  position: absolute;
  transform: translateX(-25%);
  top: 0px;
  left: 0px;

  transition: 1s;
}
::-webkit-scrollbar {
  height: 15px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #4ba3eb;
  background-size: contain;
  border-radius: 0px;
  border: 1px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Optional: Color change on hover */
}
.space {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow-x: scroll;
}

.space-body {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 1s;
}
.satellite{
  position: absolute;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #4ba3eb;
}
.space-body:not(.satellite):not(#Jupiter):not(#Saturn){
  padding: 30px;
  transform: translate(-30px,0);
}
#Sun{
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b700 39%,
    #e06317 100%
  ) !important; 
  transform: translateX(-45%) !important;
  padding: 0px;
}
.satellite::after{
  display:none;
}
.space-body:not(#Sun)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset -10px -10px 1px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.satellite:hover{
  position: relative;
  background-color: #4ba3eb !important;
}
.satellite:hover .name{
  display: block;
}
.satellite:hover .icon{
  display: none;
}
.satellite .name{
  display: none;
}
.satellite .icon{
  font-size: 32px;
}
.satellite .up-signal{
  position: absolute;
  bottom: -10px;
  width: 10px;
  height: 10px;
  background-color: #4ba3eb;
  border-radius: 50%;
}
.satellite .down-signal{
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
.more{
  height: fit-content;
  width: 100vw;
  background-color: #4ba3eb;
  position: fixed;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: start;

  transition: 1s;
  transform: translateY(100%);
  border-top: 2px solid white;

  z-index: 100;
}
.satellite-info{
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.more::before{
  content: "";
  background-color: #4ba3eb;
  width: 100px;
  height: 20px;
  border-radius: 10px 10px 0px 0px;
  top: -21px;
  left: calc(50% - 50px);
  position: absolute;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-top: 2px solid white;
}
.more:hover{
  transform: translateX(0%);
}
.signals{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.signals .signal{
  display:  flex;
  flex-direction: column;
  gap: 5px;
  border-right: 1px solid white;
  justify-content: center;
  padding-right: 10px;
  text-align: center;
}
.signal .data{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.arrow{
  transition: 0.3s;
}
.arrow div{
  animation-duration: inherit;
}
.arrow svg{
  animation-duration: inherit;
}
.arrow path{
  stroke-dasharray: 50;
  transition: 0.3s;
  cursor: pointer;
  animation: dash 10s linear infinite;
  animation-duration: inherit;
}
.arrow:hover{
  opacity: 1 !important;
}
.arrow path:hover{
  stroke-width: 5px;
}
.about{
  position: absolute;
  left: 0px;
  top: 25%;
  width: 500px;
  padding: 50px;
  color: white;
  height: 50%;
}

.alert-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 125px;
  left: 0%;
  width: 100%;
  height: 100%;

  justify-content: start;
  align-items: center;
  z-index: 20;

  pointer-events: none;
}
.Alert{
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  
  align-items: center;

  color: white;
  font-weight: bolder;
  justify-content: space-between;
}
.Alert .icon{
  font-size: 50px;
}
.Alert.success{
  background-color: #81df65;
}
.Alert.error{
  background-color: #d33e3e;
}
.Alert.info{
  background-color: #3e86ca;
}

@keyframes alert-fade-out {
  0%{
    scale: 0;
    transform: translateY(0px);
  }
  10%{
    scale: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}
@keyframes shadow-roll {
  from{
    box-shadow: inset -50px -50px 1px rgba(0, 0, 0, 0.5);
  }
  to{
    box-shadow: inset 50px 50px 1px rgba(0, 0, 0, 0.5);
  }
}